.list-film{
    padding-top:30px;
    overflow: scroll;
    width:80%;
    height: 400px;
    justify-content: center;
    margin:auto;
}

.Home{
    padding-bottom: 30px;
}

.blueDiagonal{
    width: 0;
    height:0;
    border-top: 100px solid black;
    border-left: 100vw solid transparent;
 }