.Navbar {
    padding: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-fluid{
    float: left;
    display: inline;
}

span {
    font-size: 30px;
    margin:10px;
    text-decoration: underline; 
    text-decoration-color: white;
}

.buttons > i {
    float:right;
    padding: 15px;
    border:1px solid black;
    background-color: white;
    border-radius: 10px;
    margin:5px;
    text-decoration: none;
}


.menu-bar{
    display:inline;
    text-align: center;
}

Link{
    text-decoration: none;
}